@charset "UTF-8";
/**
 初期設定
*/
/*　ハンバーガーボタン　*/
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #555;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  width: 0px;
}

.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hamburger.active span:nth-child(1) {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: translateY(-16px) rotate(90deg);
  transform: translateY(-16px) rotate(90deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #000;
  background: #fff;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #4da2e3;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenuSp ul li:hover {
  background: #2079bd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/**
 スライダー
*/
.swiper-container {
  width: 100%;
}

.swiper-container img {
  width: 90vw;
  height: 250px;
  margin: 0 auto;
  border-radius: 54% 46% 62% 38% / 51% 45% 55% 49%;
  -o-object-fit: cover;
     object-fit: cover;
}

/**
 全体
*/
/**
 ヘッダー
*/
.header-wrapper {
  height: 85vh;
}

.header-wrapper .logo {
  width: 80px;
  margin: 1rem 0 0 1rem;
}

.header-wrapper .header-content {
  position: relative;
}

.header-wrapper h2 {
  position: absolute;
  top: 2rem;
  left: 24vw;
  color: #fff;
  font-size: 2rem;
}

.header-wrapper .header-img {
  margin-top: -5rem;
  position: relative;
  overflow: hidden;
  height: 45vw;
}

.header-wrapper .header-img .header-img-left {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

.header-wrapper .header-img .header-img-right {
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  right: -1rem;
}

.header-wrapper .header-background .bubble-top {
  position: absolute;
  top: 1rem;
  left: 65vw;
}

.header-wrapper .header-background .bubble-top .bubble-top-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4da2e3;
}

.header-wrapper .header-background .bubble-top .bubble-top-large {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4da2e3;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.header-wrapper .header-background .bubble-bottom {
  position: absolute;
  top: 320px;
  left: 50vw;
}

.header-wrapper .header-background .bubble-bottom .bubble-bottom-large {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4da2e3;
  margin-left: -2rem;
  margin-top: 1rem;
}

.header-wrapper .header-background .bubble-bottom .bubble-bottom-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2079bd;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.header-wrapper .header-background .bubble-bottom .bubble-bottom-last {
  background-color: #4da2e3;
  margin-top: 2rem;
  margin-left: -1rem;
}

.header-wrapper .header-background .fish {
  position: absolute;
  top: 350px;
  left: 20px;
}

.header-wrapper .header-background .fish .header-fish-orange {
  width: 60px;
  margin-bottom: 2rem;
}

.header-wrapper .header-background .fish .header-fish-yellow {
  width: 40px;
  margin-top: 3rem;
}

/**
 メイン
*/
.container h3 {
  text-align: center;
  font-size: 1.3rem;
}

.business h3 {
  margin-bottom: 1rem;
}

.business-content {
  background-color: #2079bd;
  padding-top: 4rem;
}

.business-content h4 {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.business-content p {
  color: #fff;
  font-size: 1.1rem;
}

.business-content .business-time-closed {
  text-align: center;
  margin-top: 1rem;
}

.business-content table {
  border-radius: 10px;
  margin: 0 auto;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.business-content table th {
  text-align: center;
  padding: 0.5rem 0;
  font-weight: normal;
}

.business-content table td {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #fff;
}

.business-content table table tbody tr:last-child th,
.business-content table table tbody tr:last-child td {
  border-bottom: none;
}

.business-content .business-time-table-daytime {
  margin-top: 2rem;
}

.business-content .business-time-table-daytime .background-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f5e770;
  margin-left: 5%;
}

.business-content .business-time-table-daytime p {
  margin-left: calc(5% + 25px);
  margin-top: -18px;
  margin-bottom: 1rem;
}

.business-content .business-time-table-daytime th {
  background-color: #f5e770;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.business-content .business-time-table-night {
  margin-top: 2rem;
}

.business-content .business-time-table-night .background-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #96aed3;
  margin-left: 5%;
}

.business-content .business-time-table-night p {
  margin-left: calc(5% + 25px);
  margin-top: -18px;
  margin-bottom: 1rem;
}

.business-content .business-time-table-night th {
  background-color: #96aed3;
}

.business-content .business-time-table-night th:nth-child(2) {
  border-left: 1px dotted #222;
}

.business-content .business-time-table-night td:nth-child(2) {
  border-left: 1px dotted #222;
}

.business-content .business-price h4 {
  margin-top: 3rem;
}
/*# sourceMappingURL=index.css.map */