@charset "UTF-8";

/**
 初期設定
*/

@font-face {
    font-family: "YuGoth";
    src: url(font/YuGothR.ttc);
}

$main_color: #fff;
$font_color_black: #222;
$font_color_white: #fff;
$sub_color_blue: #2079bd;
$sub_color_lightBlue: #4da2e3;
$sub_color_yellow: #ffce48;
$sub_color_orange: #ff9148;
$sub_color_daytime: #f5e770;
$sub_color_night: #96aed3;

$font-title: irohamaru, sans-serif;
$font-text: "YuGoth";

$breakpoints: (
    "md": "screen and (min-width: 560px)",
    "lg": "screen and (min-width: 900px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/*　ハンバーガーボタン　*/
.hamburger {
    display: block;
    position: fixed;
    z-index: 4;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    @include mq(lg) {
        display: none;
    }
}
.hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
    top: 10px;
}
.hamburger span:nth-child(2) {
    top: 20px;
}
.hamburger span:nth-child(3) {
    top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hamburger.active span:nth-child(2) {
    width: 0px;
}
.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.hamburger.active span:nth-child(1) {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
}

.hamburger.active span:nth-child(3) {
    -webkit-transform: translateY(-16px) rotate(90deg);
    -ms-transform: translateY(-16px) rotate(90deg);
    -o-transform: translateY(-16px) rotate(90deg);
    transform: translateY(-16px) rotate(90deg);
}

nav.globalMenuSp {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    color: #000;
    background: $main_color;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.9s;
    width: 100%;
}

nav.globalMenuSp ul {
    background: $sub_color_blue;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid $main_color;
}
nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
nav.globalMenuSp ul li:hover {
    background: $sub_color_lightBlue;
}

nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
    transform: translateY(0%);
}

/**
 ヘッダースライダー
*/

.swiper-container {
    width: 100%;
    margin-top: 2rem;
    @include mq(lg) {
        margin-top: -2rem;
    }
    img {
        width: 90vw;
        height: 250px;
        margin: 0 auto;
        border-radius: 54% 46% 62% 38% / 51% 45% 55% 49%;
        object-fit: cover;
        @include mq(md) {
            height: 60vh;
        }
        @include mq(lg) {
            width: 80vw;
            height: 65vh;
        }
    }
}

/*====================================================================
アコーディオンメニュー
====================================================================*/
.s_07 .accordion_one {
    max-width: 1024px;
    margin: 0 auto;
    display: block;
    @include mq(lg) {
        display: none;
    }
}
.s_07 .accordion_one .accordion_header {
    background-color: $sub_color_blue;
    border-bottom: 1px solid $font_color_black;
    color: $font_color_black;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 11%;
    text-align: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition-duration: 0.2s;
}
.s_07 .accordion_one:nth-of-type(1) .accordion_inner .accordion_header {
    background-color: $sub_color_blue;
    &:hover {
        background-color: $sub_color_lightBlue;
    }
}
.s_07 .accordion_one:nth-of-type(2) .accordion_header {
    background-color: $sub_color_blue;
}
.s_07 .accordion_one:nth-of-type(2) .accordion_inner .accordion_header {
    background-color: $sub_color_blue;
    &:hover {
        background-color: $sub_color_lightBlue;
    }
}
.s_07 .accordion_one:nth-of-type(3) .accordion_header {
    background-color: $sub_color_blue;
}
.s_07 .accordion_one:nth-of-type(3) .accordion_inner .accordion_header {
    background-color: $sub_color_blue;
    &:hover {
        background-color: $sub_color_lightBlue;
    }
}
.s_07 .accordion_one .accordion_header:hover {
    opacity: 0.8;
}
.s_07 .accordion_one .accordion_header .i_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 30px;
    height: 30px;
    border: 1px solid $font_color_black;
    margin-top: -20px;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
}
.s_07 .accordion_one .accordion_header .i_box .one_i {
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
    position: relative;
}
.s_07 .accordion_one .accordion_header.open .i_box {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
.s_07 .accordion_one .accordion_header .i_box .one_i:before,
.s_07 .accordion_one .accordion_header .i_box .one_i:after {
    display: flex;
    content: "";
    background-color: $font_color_black;
    border-radius: 10px;
    width: 18px;
    height: 4px;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: center center;
}
.s_07 .accordion_one .accordion_header .i_box .one_i:before {
    width: 4px;
    height: 18px;
    top: 0;
    left: 7px;
}
.s_07 .accordion_one .accordion_header.open .i_box .one_i:before {
    content: none;
}
.s_07 .accordion_one .accordion_header.open .i_box .one_i:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.s_07 .accordion_one .accordion_inner {
    display: none;
    padding: 0;
    box-sizing: border-box;
}
.s_07 .accordion_one .accordion_inner .box_one {
    height: 300px;
}
.s_07 .accordion_one .accordion_inner p.txt_a_ac {
    margin: 0;
}

/**
 全体
*/

* {
    font-family: $font-text;
}

.flex {
    @include mq(lg) {
        display: flex;
    }
}

/**
 ヘッダー
*/

.header-wrapper {
    height: 85vh;
    @include mq(md) {
        height: 100vh;
    }
    .header-top {
        justify-content: space-between;
    }
    .header-heading {
        display: none;
        @include mq(lg) {
            display: inline-block;
            margin-top: 2rem;
            margin-right: 2rem;
            z-index: 4;
            font-size: 1.2rem;
            li {
                margin-left: 2rem;
            }
        }
    }
    .logo {
        width: 80px;
        margin: 1rem 0 0 1rem;
        @include mq(lg) {
            width: 160px;
        }
    }
    .header-content {
        position: relative;
    }
    h2 {
        position: absolute;
        top: 2rem;
        left: 24vw;
        color: #fff;
        font-size: 2rem;
        font-family: $font-title;
        font-weight: 400;
        font-style: normal;
        @include mq(lg) {
            font-size: 3.5rem;
            top: 4rem;
            left: 22vw;
        }
    }
    .header-img {
        margin-top: -5rem;
        position: relative;
        overflow: hidden;
        height: 45vw;
        @include mq(md) {
            margin-top: -7rem;
        }
        @include mq(lg) {
            margin-top: -16rem;
        }
        .header-img-left {
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            object-fit: cover;
            vertical-align: top;
            @include mq(md) {
                width: 25vw;
                height: 25vw;
            }
            @include mq(lg) {
                margin-top: 4rem;
            }
        }
        .header-img-right {
            width: 45vw;
            height: 45vw;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            right: -1rem;
            @include mq(md) {
                width: 35vw;
                height: 35vw;
            }
            @include mq(lg) {
                width: 30vw;
                height: 30vw;
            }
        }
    }
    .header-background {
        .bubble-top {
            position: absolute;
            top: 1rem;
            left: 50vw;
            @include mq(md) {
                margin-top: 0;
            }
            @include mq(lg) {
                left: 15vw;
                top: 3rem;
            }
            .bubble-top-small {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                @include mq(md) {
                    width: 30px;
                    height: 30px;
                }
            }
            .bubble-top-large {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                margin-left: 1rem;
                margin-top: 0.5rem;
                @include mq(md) {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .bubble-bottom {
            position: absolute;
            top: 320px;
            left: 50vw;
            @include mq(md) {
                top: 70vh;
            }
            .bubble-bottom-large {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                margin-left: -2rem;
                margin-top: 1rem;
                @include mq(md) {
                    width: 40px;
                    height: 40px;
                }
            }
            .bubble-bottom-small {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $sub_color_blue;
                margin-left: 2rem;
                margin-top: 1.5rem;
                @include mq(md) {
                    width: 30px;
                    height: 30px;
                }
            }
            .bubble-bottom-last {
                background-color: $sub_color_lightBlue;
                margin-top: 2rem;
                margin-left: -1rem;
            }
        }
        .fish-top {
            position: absolute;
            top: 40px;
            right: 20px;
            @include mq(md) {
                top: 5vh;
            }
            @include mq(lg) {
                top: 10vh;
            }
            .header-fish-yellow {
                width: 60px;
                margin-top: 3rem;
            }
            .header-fish-orange {
                width: 40px;
                margin-bottom: 2rem;
            }
        }
        .fish-bottom {
            position: absolute;
            top: 350px;
            left: 20px;
            @include mq(md) {
                top: 500px;
                left: 20vw;
            }
            .header-fish-orange {
                width: 60px;
                margin-bottom: 2rem;
            }
            .header-fish-yellow {
                width: 40px;
                margin-top: 3rem;
            }
        }
    }
}

/**
 メイン
*/

.container {
    h3 {
        text-align: center;
        font-size: 1.3rem;
        font-family: $font-title;
        font-weight: 500;
        font-style: normal;
        @include mq(lg) {
            font-size: 2rem;
        }
    }
    h4 {
        font-family: $font-title;
        font-weight: 500;
        font-style: normal;
        @include mq(lg) {
            font-size: 1.75rem;
        }
    }
    h5 {
        font-family: $font-title;
        font-weight: 400;
        font-style: normal;
        @include mq(lg) {
        }
    }
}

.business {
    position: relative;
    h3 {
        margin-bottom: 1rem;
    }
    .business-content {
        background-color: $sub_color_blue;
        padding-top: 4rem;
        @include mq(lg) {
            margin-top: -0.5rem;
        }
        h4 {
            color: $font_color_white;
            text-align: center;
        }
        h5 {
            color: $font_color_white;
            font-size: 1.1rem;
            @include mq(lg) {
                font-size: 1.3rem;
            }
        }
        p {
            color: $font_color_white;
        }
        .business-time-closed {
            text-align: center;
            margin-top: 1rem;
        }
        table {
            border-radius: 10px;
            margin: 0 auto;
            width: 90%;
            border-collapse: separate;
            border-spacing: 0;
            overflow: hidden;
            @include mq(lg) {
                width: 600px;
            }
            th {
                text-align: center;
                padding: 0.5rem 0;
                font-weight: bold;
            }
            td {
                text-align: center;
                padding: 0.5rem 0;
                background-color: $main_color;
            }
            table tbody tr:last-child th,
            table tbody tr:last-child td {
                border-bottom: none;
            }
        }
        .business-time-table-daytime {
            margin-top: 1rem;
            .background-circle {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $sub_color_daytime;
                margin-left: 5%;
                @include mq(lg) {
                    margin-left: calc(50vw - 60px);
                }
            }
            h5 {
                margin-left: calc(5% + 25px);
                margin-top: -18px;
                margin-bottom: 1rem;
                @include mq(lg) {
                    text-align: center;
                    margin-left: 0;
                }
            }
            th {
                background-color: $sub_color_daytime;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
        .business-time-table-night {
            margin-top: 1rem;
            .background-circle {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $sub_color_night;
                margin-left: 5%;
                @include mq(lg) {
                    margin-left: calc(50vw - 100px);
                }
            }
            h5 {
                margin-left: calc(5% + 25px);
                margin-top: -18px;
                margin-bottom: 1rem;
                @include mq(lg) {
                    text-align: center;
                    margin-left: 0;
                }
            }
            th {
                background-color: $sub_color_night;
                &:nth-child(2) {
                    border-left: 1px dotted $font_color_black;
                }
            }
            td {
                &:nth-child(2) {
                    border-left: 1px dotted $font_color_black;
                }
            }
        }
        .business-price {
            h4 {
                margin-top: 3rem;
            }
            table {
                margin-top: 1rem;
            }
            .table-head {
                background-color: #ddd;
            }
            tr {
                .daytime {
                    background-color: $sub_color_daytime;
                }
                .night {
                    background-color: $sub_color_night;
                }
                th {
                    &:nth-child(2) {
                        border-left: 1px dotted $font_color_black;
                    }
                    &:nth-child(3) {
                        border-left: 1px dotted $font_color_black;
                    }
                }
                td {
                    &:nth-child(2) {
                        border-left: 1px dotted $font_color_black;
                    }
                    &:nth-child(3) {
                        border-left: 1px dotted $font_color_black;
                    }
                }
            }
        }
        .business-price-discount {
            margin-top: 1rem;
            text-align: center;
            @include mq(lg) {
                margin-top: 4rem;
                padding-bottom: 3rem;
            }
            .discount-day {
                background-color: $sub_color_yellow;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                color: $font_color_black;
                text-align: center;
                margin: auto;
                padding-top: 12.5px;
            }
            h5 {
                margin-top: 1rem;
                @include mq(lg) {
                    font-size: 2rem;
                }
            }
            .discount-content {
                margin-top: 0.2rem;
                padding-bottom: 3rem;
                @include mq(lg) {
                    font-size: 1.5rem;
                }
                .conspicuous {
                    font-size: 1.5rem;
                    color: $sub_color_yellow;
                    font-weight: bold;
                    @include mq(lg) {
                        font-size: 2.5rem;
                    }
                }
                .dots {
                    padding-top: 0.4em;
                    background-position: top left 0px;
                    background-repeat: repeat-x;
                    background-size: 1em 0.3em;
                    background-image: radial-gradient(
                        0.15em 0.15em at center center,
                        #f5e770,
                        #f5e770 100%,
                        transparent
                    );
                }
            }
        }
    }
    .business-background {
        .bubble-top {
            position: absolute;
            top: 1rem;
            left: 5vw;
            @include mq(lg) {
                margin-top: 2rem;
            }
            .bubble-top-large {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                margin-left: 1rem;
                margin-top: 0rem;
                @include mq(lg) {
                    width: 50px;
                    height: 50px;
                }
            }
            .bubble-top-small {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $main_color;
                margin-top: 1rem;
                @include mq(lg) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .bubble-bottom {
            position: absolute;
            top: 660px;
            left: 85vw;
            @include mq(lg) {
                top: 700px;
                left: 90vw;
            }
            .bubble-bottom-large {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                margin-left: -1rem;
                margin-top: 1rem;
                @include mq(lg) {
                    width: 50px;
                    height: 50px;
                    margin-left: -3rem;
                }
            }
            .bubble-bottom-small {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $main_color;
                margin-left: 0.2rem;
                margin-top: 1.5rem;
                @include mq(lg) {
                    width: 30px;
                    height: 30px;
                    margin-left: 2rem;
                }
            }
            .bubble-bottom-last {
                width: 15px;
                height: 15px;
                background-color: $sub_color_lightBlue;
                margin-top: 2rem;
                margin-left: 0rem;
                @include mq(lg) {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .fish-top {
            position: absolute;
            top: 80px;
            left: 80vw;
            @include mq(lg) {
                top: 100px;
            }
            img {
                width: 30px;
                margin-bottom: 2rem;
                @include mq(lg) {
                    width: 50px;
                    margin-bottom: 0;
                }
            }
        }
        .fish-center {
            position: absolute;
            top: 304px;
            left: 75vw;
            @include mq(lg) {
                left: 85vw;
            }
            img {
                width: 40px;
                margin-bottom: 2rem;
                @include mq(lg) {
                    width: 55px;
                }
            }
        }
        .fish-bottom {
            position: absolute;
            top: 780px;
            left: 20px;
            img {
                width: 40px;
                margin-bottom: 2rem;
                @include mq(lg) {
                    width: 70px;
                }
            }
        }
    }
}

.event {
    margin: 4rem 0;
    position: relative;
    @include mq(lg) {
        margin-top: 12rem;
    }
    .event-slider {
        position: relative;
        @include mq(lg) {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        i {
            font-size: 2rem;
            color: $sub_color_night;
        }
        .next {
            position: absolute;
            top: 50%;
            right: 5vw;
        }
        .prev {
            position: absolute;
            top: 50%;
            left: 5vw;
            z-index: 3;
        }
    }
    .event-content {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    ul {
        li {
            @include mq(lg) {
                width: 45vw;
                margin-top: 2rem;
            }
            img {
                width: 70vw;
                margin: 0 auto;
                border-radius: 10px;
                @include mq(lg) {
                    width: 40vw;
                    height: 28vw;
                    margin-left: 2.5vw;
                }
            }
            h4 {
                text-align: center;
                margin-top: 0.5rem;
                @include mq(lg) {
                    margin-top: 1rem;
                }
            }
            .event-schedule {
                text-align: center;
                font-weight: bold;
                margin-top: 0.5rem;
                @include mq(lg) {
                    width: 40vw;
                    margin: 0.5rem auto;
                }
            }
            .event-explanation {
                width: 80vw;
                margin: 0 auto;
                margin-top: 0.5rem;
                @include mq(lg) {
                    width: 400px;
                    margin-top: 0.5rem;
                }
            }
        }
    }
    .event-background {
        position: absolute;
        top: 100%;
        left: 80vw;
        @include mq(lg) {
            left: 95vw;
            top: 101%;
        }
        img {
            width: 40px;
            margin-top: 1rem;
        }
    }
}

.guide {
    margin-top: 4rem;
    position: relative;
    @include mq(lg) {
        margin-top: 12rem;
    }
    .wave {
        margin-top: 1rem;
    }
    .guide-container {
        background-color: $sub_color_blue;
        padding-top: 3rem;
        padding-bottom: 3rem;
        @include mq(lg) {
            padding-bottom: 6rem;
            margin-top: -0.5rem;
        }
    }
    .guide-slider {
        position: relative;
        .img-wrapper {
            width: 75vw;
            height: 75vw;
            background-color: $main_color;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
            @include mq(lg) {
                width: 25vw;
                height: 25vw;
            }
        }
        img {
            width: 60vw;
            height: 60vw;
            object-fit: cover;
            border-radius: 50%;
            margin: 7.5vw auto;
            @include mq(lg) {
                width: 20vw;
                height: 20vw;
            }
        }
        .next {
            position: absolute;
            top: 50%;
            right: 5vw;
            background-color: $main_color;
            z-index: 2;
            padding: 1rem;
            border-radius: 50%;
        }
        .prev {
            position: absolute;
            top: 50%;
            left: 5vw;
            z-index: 2;
            padding: 1rem;
            border-radius: 50%;
            background-color: $main_color;
        }
        i {
            font-size: 2rem;
            color: $sub_color_blue;
        }
        h4 {
            margin-top: 3rem;
            color: $font_color_white;
            text-align: center;
            font-family: $font-text;
            font-weight: bolder;
        }
        p {
            width: 80vw;
            margin: 1rem auto 0 auto;
            color: $font_color_white;
            @include mq(lg) {
                width: 20vw;
            }
        }
        .ripples {
            width: 60vw;
            height: 60vw;
            border-radius: 50%;
            margin: 7.5vw auto;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            @include mq(lg) {
                width: 20vw;
                height: 20vw;
                margin-top: 2.5vw;
            }
        }
        .guide-dolphin {
            border-radius: 50%;
            background-image: url("img/point1.jpg");
        }
        .guide-jellyfish {
            background-image: url("img/point2.jpg");
        }
        .guide-tank {
            background-image: url("img/point3.jpg");
        }
        .guide-penguin {
            background-image: url("img/point4.jpg");
        }
        .guide-tropical {
            background-image: url("img/point5.jpg");
        }
        .guide-night {
            background-image: url("img/point6-2.jpg");
        }
    }
    @include mq(lg) {
        .guide-slider-left {
            display: inline-block;
            margin-left: 20vw;
        }
        .guide-slider-right {
            display: inline-block;
            margin-top: 3rem;
            margin-left: 10vw;
        }
    }

    .guide-background {
        .bubble-top {
            position: absolute;
            top: 5rem;
            left: 80vw;
            .bubble-top-large {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                margin-left: 0.5rem;
                margin-top: 0rem;
                z-index: 4;
                @include mq(lg) {
                    width: 50px;
                    height: 50px;
                    margin-top: 2rem;
                }
            }
            .bubble-top-small {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $main_color;
                margin-top: 1rem;
                @include mq(lg) {
                    width: 35px;
                    height: 35px;
                }
            }
        }
        .bubble-bottom {
            position: absolute;
            top: 65vw;
            left: 15vw;
            @include mq(lg) {
                top: 90%;
                left: 5vw;
            }
            .bubble-bottom-large {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                margin-left: 0rem;
                margin-top: 1rem;
                @include mq(lg) {
                    width: 50px;
                    height: 50px;
                }
            }
            .bubble-bottom-small {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $main_color;
                margin-left: 70vw;
                margin-top: 0;
                @include mq(lg) {
                    margin-left: 20px;
                    margin-top: 3rem;
                    width: 30px;
                    height: 30px;
                }
            }
            .bubble-bottom-last {
                width: 15px;
                height: 15px;
                background-color: $sub_color_lightBlue;
                margin-top: 1rem;
                margin-left: 0rem;
                @include mq(lg) {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        .fish-top {
            position: absolute;
            top: 80px;
            left: 5vw;
            img {
                width: 30px;
                margin-bottom: 2rem;
                @include mq(lg) {
                    width: 60px;
                }
            }
        }
        .fish-center {
            position: absolute;
            top: 100px;
            left: 10vw;
            img {
                width: 40px;
                margin-bottom: 2rem;
                @include mq(lg) {
                    width: 80px;
                }
            }
        }
        .fish-bottom {
            position: absolute;
            bottom: 280px;
            right: 10vw;
            @include mq(lg) {
                right: 3vw;
                bottom: 5%;
            }
            img {
                width: 40px;
                margin-bottom: 2rem;
                @include mq(lg) {
                    width: 100px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.access {
    margin-top: 4rem;
    @include mq(lg) {
        margin-top: 8rem;
    }
    .flex {
        justify-content: space-around;
        margin-top: 4rem;
    }
    table {
        margin: 2rem auto;
        display: block;
        width: 80vw;
        @include mq(lg) {
            width: initial;
            margin-top: 100px;
        }
        th {
            padding: 0.5rem;
            width: 80px;
        }
        td {
            padding: 0.5rem;
            text-align: left;
        }
    }
    iframe {
        height: 250px;
        width: 100%;
        @include mq(lg) {
            width: 50vw;
            height: 400px;
        }
    }
}

footer {
    .raindrops {
        height: 2em;
        margin-top: -1.5em;
    }
    .footer-wrapper {
        background-color: $sub_color_blue;
        margin-top: -0.5rem;
    }
    .flex {
        @include mq(lg) {
            justify-content: center;
        }
    }
    .footer-list {
        display: none;
        @include mq(lg) {
            padding: 2rem 0;
            display: block;
            background-color: $sub_color_blue;
            margin: 0 0.5rem;
            p {
                font-weight: bold;
                margin-bottom: 1rem;
                padding-left: 1rem;
                position: relative;
                &::before {
                    display: block;
                    position: absolute;
                    content: "▼";
                    width: 0.5em;
                    height: 0.5em;
                    top: 0;
                    left: 0;
                }
            }
            li {
                position: relative;
                padding: 0.1em;
                padding-left: 1em;
                &::before {
                    display: block;
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0.7em;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    width: 0.3em;
                    height: 0.3em;
                    border-top: 1px solid $font_color_black;
                    border-right: 1px solid $font_color_black;
                }
            }
            a {
                &:hover{
                    color: $font_color_white;
                }
            }
        }
    }
    .footer-copyright {
        text-align: center;
        padding: 3rem 0 1rem 0;
        background-color: $sub_color_blue;
    }
}
