@charset "UTF-8";

/**
 初期設定
*/

@font-face {
    font-family: "YuGoth";
    src: url(font/YuGothR.ttc);
}

$main_color: #fff;
$font_color_black: #222;
$font_color_white: #fff;
$sub_color_blue: #2079bd;
$sub_color_lightBlue: #4da2e3;
$sub_color_yellow: #ffce48;
$sub_color_orange: #ff9148;
$sub_color_daytime: #f5e770;
$sub_color_night: #96aed3;

$font-title: irohamaru, sans-serif;
$font-text: "YuGoth";

$breakpoints: (
    "md": "screen and (mix-width: 560px)",
    "lg": "screen and (m1x-width: 900px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/*　ハンバーガーボタン　*/
.hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
}
.hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
    top: 10px;
}
.hamburger span:nth-child(2) {
    top: 20px;
}
.hamburger span:nth-child(3) {
    top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hamburger.active span:nth-child(2) {
    width: 0px;
}
.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.hamburger.active span:nth-child(1) {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
}

.hamburger.active span:nth-child(3) {
    -webkit-transform: translateY(-16px) rotate(90deg);
    -ms-transform: translateY(-16px) rotate(90deg);
    -o-transform: translateY(-16px) rotate(90deg);
    transform: translateY(-16px) rotate(90deg);
}

nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #000;
    background: $main_color;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.9s;
    width: 100%;
}

nav.globalMenuSp ul {
    background: $sub_color_lightBlue;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid $main_color;
}
nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
nav.globalMenuSp ul li:hover {
    background: $sub_color_blue;
}

nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
    transform: translateY(0%);
}

/**
 スライダー
*/

.swiper-container {
    width: 100%;
    img {
        width: 90vw;
        height: 250px;
        margin: 0 auto;
        border-radius: 54% 46% 62% 38% / 51% 45% 55% 49%;
        object-fit: cover;
    }
}

/**
 全体
*/

* {
    font-family: $font-text;
}

/**
 ヘッダー
*/

.header-wrapper {
    height: 85vh;
    .logo {
        width: 80px;
        margin: 1rem 0 0 1rem;
    }
    .header-content {
        position: relative;
    }
    h2 {
        position: absolute;
        top: 2rem;
        left: 24vw;
        color: #fff;
        font-size: 2rem;
        font-family: $font-title;
        font-weight: 400;
        font-style: normal;
    }
    .header-img {
        margin-top: -5rem;
        position: relative;
        overflow: hidden;
        height: 45vw;
        .header-img-left {
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            object-fit: cover;
            vertical-align: top;
        }
        .header-img-right {
            width: 45vw;
            height: 45vw;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            right: -1rem;
        }
    }
    .header-background {
        .bubble-top {
            position: absolute;
            top: 1rem;
            left: 65vw;
            .bubble-top-small {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
            }
            .bubble-top-large {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                margin-left: 1rem;
                margin-top: 0.5rem;
            }
        }
        .bubble-bottom {
            position: absolute;
            top: 320px;
            left: 50vw;
            .bubble-bottom-large {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                margin-left: -2rem;
                margin-top: 1rem;
            }
            .bubble-bottom-small {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $sub_color_blue;
                margin-left: 2rem;
                margin-top: 1.5rem;
            }
            .bubble-bottom-last {
                background-color: $sub_color_lightBlue;
                margin-top: 2rem;
                margin-left: -1rem;
            }
        }
        .fish {
            position: absolute;
            top: 350px;
            left: 20px;
            .header-fish-orange {
                width: 60px;
                margin-bottom: 2rem;
            }
            .header-fish-yellow {
                width: 40px;
                margin-top: 3rem;
            }
        }
    }
}

/**
 メイン
*/

.container {
    h3 {
        text-align: center;
        font-size: 1.3rem;
        font-family: $font-title;
        font-weight: 500;
        font-style: normal;
    }
    h4 {
        font-family: $font-title;
        font-weight: 500;
        font-style: normal;
    }
    h5 {
        font-family: $font-title;
        font-weight: 400;
        font-style: normal;
    }
}

.business {
    position: relative;
    h3 {
        margin-bottom: 1rem;
    }
    .business-content {
        background-color: $sub_color_blue;
        padding-top: 4rem;
        h4 {
            color: $font_color_white;
            font-size: 1.2rem;
            text-align: center;
        }
        h5 {
            color: $font_color_white;
            font-size: 1.1rem;
        }
        p {
            color: $font_color_white;
        }
        .business-time-closed {
            text-align: center;
            margin-top: 1rem;
        }
        table {
            border-radius: 10px;
            margin: 0 auto;
            width: 90%;
            border-collapse: separate;
            border-spacing: 0;
            overflow: hidden;
            th {
                text-align: center;
                padding: 0.5rem 0;
                font-weight: normal;
            }
            td {
                text-align: center;
                padding: 0.5rem 0;
                background-color: $main_color;
            }
            table tbody tr:last-child th,
            table tbody tr:last-child td {
                border-bottom: none;
            }
        }
        .business-time-table-daytime {
            margin-top: 2rem;
            .background-circle {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $sub_color_daytime;
                margin-left: 5%;
            }
            h5 {
                margin-left: calc(5% + 25px);
                margin-top: -18px;
                margin-bottom: 1rem;
            }
            th {
                background-color: $sub_color_daytime;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
        .business-time-table-night {
            margin-top: 2rem;
            .background-circle {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $sub_color_night;
                margin-left: 5%;
            }
            h5 {
                margin-left: calc(5% + 25px);
                margin-top: -18px;
                margin-bottom: 1rem;
            }
            th {
                background-color: $sub_color_night;
                &:nth-child(2) {
                    border-left: 1px dotted $font_color_black;
                }
            }
            td {
                &:nth-child(2) {
                    border-left: 1px dotted $font_color_black;
                }
            }
        }
        .business-price {
            h4 {
                margin-top: 3rem;
            }
            .table-head {
                background-color: #ddd;
            }
            tr {
                .daytime {
                    background-color: $sub_color_daytime;
                }
                .night {
                    background-color: $sub_color_night;
                }
                th {
                    &:nth-child(2) {
                        border-left: 1px dotted $font_color_black;
                    }
                    &:nth-child(3) {
                        border-left: 1px dotted $font_color_black;
                    }
                }
                td {
                    &:nth-child(2) {
                        border-left: 1px dotted $font_color_black;
                    }
                    &:nth-child(3) {
                        border-left: 1px dotted $font_color_black;
                    }
                }
            }
        }
        .business-price-discount {
            margin-top: 1rem;
            text-align: center;
            .discount-day {
                background-color: $sub_color_yellow;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                color: $font_color_black;
                text-align: center;
                margin: auto;
                padding-top: 12.5px;
            }
            h5 {
                font-size: 1.1rem;
                margin-top: 1rem;
            }
            .discount-content {
                margin-top: 0.2rem;
                padding-bottom: 3rem;
                .conspicuous {
                    font-size: 1.5rem;
                    color: $sub_color_yellow;
                    font-weight: bold;
                }
                .dots {
                    padding-top: 0.4em;
                    background-position: top left 0px;
                    background-repeat: repeat-x;
                    background-size: 1em 0.3em;
                    background-image: radial-gradient(
                        0.15em 0.15em at center center,
                        #f5e770,
                        #f5e770 100%,
                        transparent
                    );
                }
            }
        }
    }
    .business-background {
        .bubble-top {
            position: absolute;
            top: 1rem;
            left: 5vw;
            .bubble-top-large {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                margin-left: 1rem;
                margin-top: 0rem;
            }
            .bubble-top-small {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $main_color;
                margin-top: 1rem;
            }
        }
        .bubble-bottom {
            position: absolute;
            top: 660px;
            left: 85vw;
            .bubble-bottom-large {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $sub_color_lightBlue;
                margin-left: 0rem;
                margin-top: 1rem;
            }
            .bubble-bottom-small {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $main_color;
                margin-left: 1rem;
                margin-top: 1.5rem;
            }
            .bubble-bottom-last {
                width: 15px;
                height: 15px;
                background-color: $sub_color_lightBlue;
                margin-top: 2rem;
                margin-left: 0rem;
            }
        }
        .fish-top {
            position: absolute;
            top: 80px;
            left: 80vw;
            img {
                width: 30px;
                margin-bottom: 2rem;
            }
        }
        .fish-center {
            position: absolute;
            top: 304px;
            left: 75vw;
            img {
                width: 40px;
                margin-bottom: 2rem;
            }
        }
        .fish-bottom {
            position: absolute;
            top: 780px;
            left: 20px;
            img {
                width: 40px;
                margin-bottom: 2rem;
            }
        }
    }
}

.event {
    margin: 4rem 0;
    position: relative;
    .event-slider{
        position: relative;
        i{
            font-size: 2rem;
            color: $sub_color_night;
        }
        .next{
            position: absolute;
            top: 50%;
            right: 5vw;
        }
        .prev{
            position: absolute;
            top: 50%;
            left: 5vw;
            z-index: 3;
        }
    }
    .event-content {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    ul {
        li {
            img {
                width: 70vw;
                margin: 0 auto;
                border-radius: 10px;
            }
            h4 {
                text-align: center;
                margin-top: 0.5rem;
                font-size: 1.2rem;
            }
            .event-schedule {
                text-align: center;
                font-weight: bold;
                margin-top: 0.5rem;
            }
            .event-explanation {
                width: 80vw;
                margin: 0 auto;
                margin-top: 0.5rem;
            }
        }

    }
    .event-background{
        position: absolute;
        top: 100%;
        left: 80vw;
        img{
            width: 40px;
            margin-top: 1rem;
        }
    }
}

.guide{
    margin-top: 4rem;
    .wave{
        margin-top: 1rem;
    }
    .guide-container{
        background-color: $sub_color_blue;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .guide-slider{
        position: relative;
        .img-wrapper{
            width: 75vw;
            height: 75vw;
            background-color: $main_color;
            border-radius: 50%;
            margin: 0 auto;
            display: flex;
        }
        img{
            width: 60vw;
            height: 60vw;
            object-fit: cover;
            border-radius: 50%;
            margin: 7.5vw auto;
        }
        .next{
            position: absolute;
            top: 50%;
            right: 5vw;
            background-color: $main_color;
            z-index: 3;
            padding: 1rem;
            border-radius: 50%;
        }
        .prev{
            position: absolute;
            top: 50%;
            left: 5vw;
            z-index: 3;
            padding: 1rem;
            border-radius: 50%;
            background-color: $main_color;
        }
        i{
            font-size: 2rem;
            color: $sub_color_blue;
        }
        h4{
            margin-top: 3rem;
            color: $font_color_white;
            font-size: 1.2rem;
            text-align: center;
            font-family: $font-text;
            font-weight: bolder;
        }
        p{
            width: 80vw;
            margin: 1rem auto 0 auto;
            color: $font_color_white;
        }
    }
}
