@charset "UTF-8";
/**
 初期設定
*/
@font-face {
  font-family: "YuGoth";
  src: url(font/YuGothR.ttc);
}

/*　ハンバーガーボタン　*/
.hamburger {
  display: block;
  position: fixed;
  z-index: 4;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #555;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  width: 0px;
}

.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hamburger.active span:nth-child(1) {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: translateY(-16px) rotate(90deg);
  transform: translateY(-16px) rotate(90deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  color: #000;
  background: #fff;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #2079bd;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenuSp ul li:hover {
  background: #4da2e3;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/**
 ヘッダースライダー
*/
.swiper-container {
  width: 100%;
  margin-top: 2rem;
}

@media screen and (min-width: 900px) {
  .swiper-container {
    margin-top: -2rem;
  }
}

.swiper-container img {
  width: 90vw;
  height: 250px;
  margin: 0 auto;
  border-radius: 54% 46% 62% 38% / 51% 45% 55% 49%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 560px) {
  .swiper-container img {
    height: 60vh;
  }
}

@media screen and (min-width: 900px) {
  .swiper-container img {
    width: 80vw;
    height: 65vh;
  }
}

/*====================================================================
アコーディオンメニュー
====================================================================*/
.s_07 .accordion_one {
  max-width: 1024px;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 900px) {
  .s_07 .accordion_one {
    display: none;
  }
}

.s_07 .accordion_one .accordion_header {
  background-color: #2079bd;
  border-bottom: 1px solid #222;
  color: #222;
  font-size: 1em;
  font-weight: bold;
  padding: 20px 11%;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.s_07 .accordion_one:nth-of-type(1) .accordion_inner .accordion_header {
  background-color: #2079bd;
}

.s_07 .accordion_one:nth-of-type(1) .accordion_inner .accordion_header:hover {
  background-color: #4da2e3;
}

.s_07 .accordion_one:nth-of-type(2) .accordion_header {
  background-color: #2079bd;
}

.s_07 .accordion_one:nth-of-type(2) .accordion_inner .accordion_header {
  background-color: #2079bd;
}

.s_07 .accordion_one:nth-of-type(2) .accordion_inner .accordion_header:hover {
  background-color: #4da2e3;
}

.s_07 .accordion_one:nth-of-type(3) .accordion_header {
  background-color: #2079bd;
}

.s_07 .accordion_one:nth-of-type(3) .accordion_inner .accordion_header {
  background-color: #2079bd;
}

.s_07 .accordion_one:nth-of-type(3) .accordion_inner .accordion_header:hover {
  background-color: #4da2e3;
}

.s_07 .accordion_one .accordion_header:hover {
  opacity: 0.8;
}

.s_07 .accordion_one .accordion_header .i_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 30px;
  height: 30px;
  border: 1px solid #222;
  margin-top: -20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.s_07 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: relative;
}

.s_07 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.s_07 .accordion_one .accordion_header .i_box .one_i:before,
.s_07 .accordion_one .accordion_header .i_box .one_i:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  background-color: #222;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.s_07 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}

.s_07 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}

.s_07 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.s_07 .accordion_one .accordion_inner {
  display: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.s_07 .accordion_one .accordion_inner .box_one {
  height: 300px;
}

.s_07 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

/**
 全体
*/
* {
  font-family: "YuGoth";
}

@media screen and (min-width: 900px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/**
 ヘッダー
*/
.header-wrapper {
  height: 85vh;
}

@media screen and (min-width: 560px) {
  .header-wrapper {
    height: 100vh;
  }
}

.header-wrapper .header-top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper .header-heading {
  display: none;
}

@media screen and (min-width: 900px) {
  .header-wrapper .header-heading {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    z-index: 4;
    font-size: 1.2rem;
  }
  .header-wrapper .header-heading li {
    margin-left: 2rem;
  }
}

.header-wrapper .logo {
  width: 80px;
  margin: 1rem 0 0 1rem;
}

@media screen and (min-width: 900px) {
  .header-wrapper .logo {
    width: 160px;
  }
}

.header-wrapper .header-content {
  position: relative;
}

.header-wrapper h2 {
  position: absolute;
  top: 2rem;
  left: 24vw;
  color: #fff;
  font-size: 2rem;
  font-family: irohamaru, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 900px) {
  .header-wrapper h2 {
    font-size: 3.5rem;
    top: 4rem;
    left: 22vw;
  }
}

.header-wrapper .header-img {
  margin-top: -5rem;
  position: relative;
  overflow: hidden;
  height: 45vw;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-img {
    margin-top: -7rem;
  }
}

@media screen and (min-width: 900px) {
  .header-wrapper .header-img {
    margin-top: -16rem;
  }
}

.header-wrapper .header-img .header-img-left {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-img .header-img-left {
    width: 25vw;
    height: 25vw;
  }
}

@media screen and (min-width: 900px) {
  .header-wrapper .header-img .header-img-left {
    margin-top: 4rem;
  }
}

.header-wrapper .header-img .header-img-right {
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  right: -1rem;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-img .header-img-right {
    width: 35vw;
    height: 35vw;
  }
}

@media screen and (min-width: 900px) {
  .header-wrapper .header-img .header-img-right {
    width: 30vw;
    height: 30vw;
  }
}

.header-wrapper .header-background .bubble-top {
  position: absolute;
  top: 1rem;
  left: 50vw;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-background .bubble-top {
    margin-top: 0;
  }
}

@media screen and (min-width: 900px) {
  .header-wrapper .header-background .bubble-top {
    left: 15vw;
    top: 3rem;
  }
}

.header-wrapper .header-background .bubble-top .bubble-top-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4da2e3;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-background .bubble-top .bubble-top-small {
    width: 30px;
    height: 30px;
  }
}

.header-wrapper .header-background .bubble-top .bubble-top-large {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4da2e3;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-background .bubble-top .bubble-top-large {
    width: 50px;
    height: 50px;
  }
}

.header-wrapper .header-background .bubble-bottom {
  position: absolute;
  top: 320px;
  left: 50vw;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-background .bubble-bottom {
    top: 70vh;
  }
}

.header-wrapper .header-background .bubble-bottom .bubble-bottom-large {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4da2e3;
  margin-left: -2rem;
  margin-top: 1rem;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-background .bubble-bottom .bubble-bottom-large {
    width: 40px;
    height: 40px;
  }
}

.header-wrapper .header-background .bubble-bottom .bubble-bottom-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2079bd;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-background .bubble-bottom .bubble-bottom-small {
    width: 30px;
    height: 30px;
  }
}

.header-wrapper .header-background .bubble-bottom .bubble-bottom-last {
  background-color: #4da2e3;
  margin-top: 2rem;
  margin-left: -1rem;
}

.header-wrapper .header-background .fish-top {
  position: absolute;
  top: 40px;
  right: 20px;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-background .fish-top {
    top: 5vh;
  }
}

@media screen and (min-width: 900px) {
  .header-wrapper .header-background .fish-top {
    top: 10vh;
  }
}

.header-wrapper .header-background .fish-top .header-fish-yellow {
  width: 60px;
  margin-top: 3rem;
}

.header-wrapper .header-background .fish-top .header-fish-orange {
  width: 40px;
  margin-bottom: 2rem;
}

.header-wrapper .header-background .fish-bottom {
  position: absolute;
  top: 350px;
  left: 20px;
}

@media screen and (min-width: 560px) {
  .header-wrapper .header-background .fish-bottom {
    top: 500px;
    left: 20vw;
  }
}

.header-wrapper .header-background .fish-bottom .header-fish-orange {
  width: 60px;
  margin-bottom: 2rem;
}

.header-wrapper .header-background .fish-bottom .header-fish-yellow {
  width: 40px;
  margin-top: 3rem;
}

/**
 メイン
*/
.container h3 {
  text-align: center;
  font-size: 1.3rem;
  font-family: irohamaru, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@media screen and (min-width: 900px) {
  .container h3 {
    font-size: 2rem;
  }
}

.container h4 {
  font-family: irohamaru, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@media screen and (min-width: 900px) {
  .container h4 {
    font-size: 1.75rem;
  }
}

.container h5 {
  font-family: irohamaru, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.business {
  position: relative;
}

.business h3 {
  margin-bottom: 1rem;
}

.business .business-content {
  background-color: #2079bd;
  padding-top: 4rem;
}

@media screen and (min-width: 900px) {
  .business .business-content {
    margin-top: -0.5rem;
  }
}

.business .business-content h4 {
  color: #fff;
  text-align: center;
}

.business .business-content h5 {
  color: #fff;
  font-size: 1.1rem;
}

@media screen and (min-width: 900px) {
  .business .business-content h5 {
    font-size: 1.3rem;
  }
}

.business .business-content p {
  color: #fff;
}

.business .business-content .business-time-closed {
  text-align: center;
  margin-top: 1rem;
}

.business .business-content table {
  border-radius: 10px;
  margin: 0 auto;
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .business .business-content table {
    width: 600px;
  }
}

.business .business-content table th {
  text-align: center;
  padding: 0.5rem 0;
  font-weight: bold;
}

.business .business-content table td {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #fff;
}

.business .business-content table table tbody tr:last-child th,
.business .business-content table table tbody tr:last-child td {
  border-bottom: none;
}

.business .business-content .business-time-table-daytime {
  margin-top: 1rem;
}

.business .business-content .business-time-table-daytime .background-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f5e770;
  margin-left: 5%;
}

@media screen and (min-width: 900px) {
  .business .business-content .business-time-table-daytime .background-circle {
    margin-left: calc(50vw - 60px);
  }
}

.business .business-content .business-time-table-daytime h5 {
  margin-left: calc(5% + 25px);
  margin-top: -18px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  .business .business-content .business-time-table-daytime h5 {
    text-align: center;
    margin-left: 0;
  }
}

.business .business-content .business-time-table-daytime th {
  background-color: #f5e770;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.business .business-content .business-time-table-night {
  margin-top: 1rem;
}

.business .business-content .business-time-table-night .background-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #96aed3;
  margin-left: 5%;
}

@media screen and (min-width: 900px) {
  .business .business-content .business-time-table-night .background-circle {
    margin-left: calc(50vw - 100px);
  }
}

.business .business-content .business-time-table-night h5 {
  margin-left: calc(5% + 25px);
  margin-top: -18px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  .business .business-content .business-time-table-night h5 {
    text-align: center;
    margin-left: 0;
  }
}

.business .business-content .business-time-table-night th {
  background-color: #96aed3;
}

.business .business-content .business-time-table-night th:nth-child(2) {
  border-left: 1px dotted #222;
}

.business .business-content .business-time-table-night td:nth-child(2) {
  border-left: 1px dotted #222;
}

.business .business-content .business-price h4 {
  margin-top: 3rem;
}

.business .business-content .business-price table {
  margin-top: 1rem;
}

.business .business-content .business-price .table-head {
  background-color: #ddd;
}

.business .business-content .business-price tr .daytime {
  background-color: #f5e770;
}

.business .business-content .business-price tr .night {
  background-color: #96aed3;
}

.business .business-content .business-price tr th:nth-child(2) {
  border-left: 1px dotted #222;
}

.business .business-content .business-price tr th:nth-child(3) {
  border-left: 1px dotted #222;
}

.business .business-content .business-price tr td:nth-child(2) {
  border-left: 1px dotted #222;
}

.business .business-content .business-price tr td:nth-child(3) {
  border-left: 1px dotted #222;
}

.business .business-content .business-price-discount {
  margin-top: 1rem;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .business .business-content .business-price-discount {
    margin-top: 4rem;
    padding-bottom: 3rem;
  }
}

.business .business-content .business-price-discount .discount-day {
  background-color: #ffce48;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #222;
  text-align: center;
  margin: auto;
  padding-top: 12.5px;
}

.business .business-content .business-price-discount h5 {
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .business .business-content .business-price-discount h5 {
    font-size: 2rem;
  }
}

.business .business-content .business-price-discount .discount-content {
  margin-top: 0.2rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 900px) {
  .business .business-content .business-price-discount .discount-content {
    font-size: 1.5rem;
  }
}

.business .business-content .business-price-discount .discount-content .conspicuous {
  font-size: 1.5rem;
  color: #ffce48;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .business .business-content .business-price-discount .discount-content .conspicuous {
    font-size: 2.5rem;
  }
}

.business .business-content .business-price-discount .discount-content .dots {
  padding-top: 0.4em;
  background-position: top left 0px;
  background-repeat: repeat-x;
  background-size: 1em 0.3em;
  background-image: radial-gradient(0.15em 0.15em at center center, #f5e770, #f5e770 100%, transparent);
}

.business .business-background .bubble-top {
  position: absolute;
  top: 1rem;
  left: 5vw;
}

@media screen and (min-width: 900px) {
  .business .business-background .bubble-top {
    margin-top: 2rem;
  }
}

.business .business-background .bubble-top .bubble-top-large {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4da2e3;
  margin-left: 1rem;
  margin-top: 0rem;
}

@media screen and (min-width: 900px) {
  .business .business-background .bubble-top .bubble-top-large {
    width: 50px;
    height: 50px;
  }
}

.business .business-background .bubble-top .bubble-top-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .business .business-background .bubble-top .bubble-top-small {
    width: 30px;
    height: 30px;
  }
}

.business .business-background .bubble-bottom {
  position: absolute;
  top: 660px;
  left: 85vw;
}

@media screen and (min-width: 900px) {
  .business .business-background .bubble-bottom {
    top: 700px;
    left: 90vw;
  }
}

.business .business-background .bubble-bottom .bubble-bottom-large {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4da2e3;
  margin-left: -1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .business .business-background .bubble-bottom .bubble-bottom-large {
    width: 50px;
    height: 50px;
    margin-left: -3rem;
  }
}

.business .business-background .bubble-bottom .bubble-bottom-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 0.2rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 900px) {
  .business .business-background .bubble-bottom .bubble-bottom-small {
    width: 30px;
    height: 30px;
    margin-left: 2rem;
  }
}

.business .business-background .bubble-bottom .bubble-bottom-last {
  width: 15px;
  height: 15px;
  background-color: #4da2e3;
  margin-top: 2rem;
  margin-left: 0rem;
}

@media screen and (min-width: 900px) {
  .business .business-background .bubble-bottom .bubble-bottom-last {
    width: 20px;
    height: 20px;
  }
}

.business .business-background .fish-top {
  position: absolute;
  top: 80px;
  left: 80vw;
}

@media screen and (min-width: 900px) {
  .business .business-background .fish-top {
    top: 100px;
  }
}

.business .business-background .fish-top img {
  width: 30px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .business .business-background .fish-top img {
    width: 50px;
    margin-bottom: 0;
  }
}

.business .business-background .fish-center {
  position: absolute;
  top: 304px;
  left: 75vw;
}

@media screen and (min-width: 900px) {
  .business .business-background .fish-center {
    left: 85vw;
  }
}

.business .business-background .fish-center img {
  width: 40px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .business .business-background .fish-center img {
    width: 55px;
  }
}

.business .business-background .fish-bottom {
  position: absolute;
  top: 780px;
  left: 20px;
}

.business .business-background .fish-bottom img {
  width: 40px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .business .business-background .fish-bottom img {
    width: 70px;
  }
}

.event {
  margin: 4rem 0;
  position: relative;
}

@media screen and (min-width: 900px) {
  .event {
    margin-top: 12rem;
  }
}

.event .event-slider {
  position: relative;
}

@media screen and (min-width: 900px) {
  .event .event-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.event .event-slider i {
  font-size: 2rem;
  color: #96aed3;
}

.event .event-slider .next {
  position: absolute;
  top: 50%;
  right: 5vw;
}

.event .event-slider .prev {
  position: absolute;
  top: 50%;
  left: 5vw;
  z-index: 3;
}

.event .event-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .event ul li {
    width: 45vw;
    margin-top: 2rem;
  }
}

.event ul li img {
  width: 70vw;
  margin: 0 auto;
  border-radius: 10px;
}

@media screen and (min-width: 900px) {
  .event ul li img {
    width: 40vw;
    height: 28vw;
    margin-left: 2.5vw;
  }
}

.event ul li h4 {
  text-align: center;
  margin-top: 0.5rem;
}

@media screen and (min-width: 900px) {
  .event ul li h4 {
    margin-top: 1rem;
  }
}

.event ul li .event-schedule {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}

@media screen and (min-width: 900px) {
  .event ul li .event-schedule {
    width: 40vw;
    margin: 0.5rem auto;
  }
}

.event ul li .event-explanation {
  width: 80vw;
  margin: 0 auto;
  margin-top: 0.5rem;
}

@media screen and (min-width: 900px) {
  .event ul li .event-explanation {
    width: 400px;
    margin-top: 0.5rem;
  }
}

.event .event-background {
  position: absolute;
  top: 100%;
  left: 80vw;
}

@media screen and (min-width: 900px) {
  .event .event-background {
    left: 95vw;
    top: 101%;
  }
}

.event .event-background img {
  width: 40px;
  margin-top: 1rem;
}

.guide {
  margin-top: 4rem;
  position: relative;
}

@media screen and (min-width: 900px) {
  .guide {
    margin-top: 12rem;
  }
}

.guide .wave {
  margin-top: 1rem;
}

.guide .guide-container {
  background-color: #2079bd;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 900px) {
  .guide .guide-container {
    padding-bottom: 6rem;
    margin-top: -0.5rem;
  }
}

.guide .guide-slider {
  position: relative;
}

.guide .guide-slider .img-wrapper {
  width: 75vw;
  height: 75vw;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 900px) {
  .guide .guide-slider .img-wrapper {
    width: 25vw;
    height: 25vw;
  }
}

.guide .guide-slider img {
  width: 60vw;
  height: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 7.5vw auto;
}

@media screen and (min-width: 900px) {
  .guide .guide-slider img {
    width: 20vw;
    height: 20vw;
  }
}

.guide .guide-slider .next {
  position: absolute;
  top: 50%;
  right: 5vw;
  background-color: #fff;
  z-index: 2;
  padding: 1rem;
  border-radius: 50%;
}

.guide .guide-slider .prev {
  position: absolute;
  top: 50%;
  left: 5vw;
  z-index: 2;
  padding: 1rem;
  border-radius: 50%;
  background-color: #fff;
}

.guide .guide-slider i {
  font-size: 2rem;
  color: #2079bd;
}

.guide .guide-slider h4 {
  margin-top: 3rem;
  color: #fff;
  text-align: center;
  font-family: "YuGoth";
  font-weight: bolder;
}

.guide .guide-slider p {
  width: 80vw;
  margin: 1rem auto 0 auto;
  color: #fff;
}

@media screen and (min-width: 900px) {
  .guide .guide-slider p {
    width: 20vw;
  }
}

.guide .guide-slider .ripples {
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  margin: 7.5vw auto;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .guide .guide-slider .ripples {
    width: 20vw;
    height: 20vw;
    margin-top: 2.5vw;
  }
}

.guide .guide-slider .guide-dolphin {
  border-radius: 50%;
  background-image: url("img/point1.jpg");
}

.guide .guide-slider .guide-jellyfish {
  background-image: url("img/point2.jpg");
}

.guide .guide-slider .guide-tank {
  background-image: url("img/point3.jpg");
}

.guide .guide-slider .guide-penguin {
  background-image: url("img/point4.jpg");
}

.guide .guide-slider .guide-tropical {
  background-image: url("img/point5.jpg");
}

.guide .guide-slider .guide-night {
  background-image: url("img/point6-2.jpg");
}

@media screen and (min-width: 900px) {
  .guide .guide-slider-left {
    display: inline-block;
    margin-left: 20vw;
  }
  .guide .guide-slider-right {
    display: inline-block;
    margin-top: 3rem;
    margin-left: 10vw;
  }
}

.guide .guide-background .bubble-top {
  position: absolute;
  top: 5rem;
  left: 80vw;
}

.guide .guide-background .bubble-top .bubble-top-large {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4da2e3;
  margin-left: 0.5rem;
  margin-top: 0rem;
  z-index: 4;
}

@media screen and (min-width: 900px) {
  .guide .guide-background .bubble-top .bubble-top-large {
    width: 50px;
    height: 50px;
    margin-top: 2rem;
  }
}

.guide .guide-background .bubble-top .bubble-top-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .guide .guide-background .bubble-top .bubble-top-small {
    width: 35px;
    height: 35px;
  }
}

.guide .guide-background .bubble-bottom {
  position: absolute;
  top: 65vw;
  left: 15vw;
}

@media screen and (min-width: 900px) {
  .guide .guide-background .bubble-bottom {
    top: 90%;
    left: 5vw;
  }
}

.guide .guide-background .bubble-bottom .bubble-bottom-large {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4da2e3;
  margin-left: 0rem;
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .guide .guide-background .bubble-bottom .bubble-bottom-large {
    width: 50px;
    height: 50px;
  }
}

.guide .guide-background .bubble-bottom .bubble-bottom-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 70vw;
  margin-top: 0;
}

@media screen and (min-width: 900px) {
  .guide .guide-background .bubble-bottom .bubble-bottom-small {
    margin-left: 20px;
    margin-top: 3rem;
    width: 30px;
    height: 30px;
  }
}

.guide .guide-background .bubble-bottom .bubble-bottom-last {
  width: 15px;
  height: 15px;
  background-color: #4da2e3;
  margin-top: 1rem;
  margin-left: 0rem;
}

@media screen and (min-width: 900px) {
  .guide .guide-background .bubble-bottom .bubble-bottom-last {
    width: 25px;
    height: 25px;
  }
}

.guide .guide-background .fish-top {
  position: absolute;
  top: 80px;
  left: 5vw;
}

.guide .guide-background .fish-top img {
  width: 30px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .guide .guide-background .fish-top img {
    width: 60px;
  }
}

.guide .guide-background .fish-center {
  position: absolute;
  top: 100px;
  left: 10vw;
}

.guide .guide-background .fish-center img {
  width: 40px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .guide .guide-background .fish-center img {
    width: 80px;
  }
}

.guide .guide-background .fish-bottom {
  position: absolute;
  bottom: 280px;
  right: 10vw;
}

@media screen and (min-width: 900px) {
  .guide .guide-background .fish-bottom {
    right: 3vw;
    bottom: 5%;
  }
}

.guide .guide-background .fish-bottom img {
  width: 40px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .guide .guide-background .fish-bottom img {
    width: 100px;
    margin-bottom: 0;
  }
}

.access {
  margin-top: 4rem;
}

@media screen and (min-width: 900px) {
  .access {
    margin-top: 8rem;
  }
}

.access .flex {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 4rem;
}

.access table {
  margin: 2rem auto;
  display: block;
  width: 80vw;
}

@media screen and (min-width: 900px) {
  .access table {
    width: initial;
    margin-top: 100px;
  }
}

.access table th {
  padding: 0.5rem;
  width: 80px;
}

.access table td {
  padding: 0.5rem;
  text-align: left;
}

.access iframe {
  height: 250px;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .access iframe {
    width: 50vw;
    height: 400px;
  }
}

footer .raindrops {
  height: 2em;
  margin-top: -1.5em;
}

footer .footer-wrapper {
  background-color: #2079bd;
  margin-top: -0.5rem;
}

@media screen and (min-width: 900px) {
  footer .flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-list {
  display: none;
}

@media screen and (min-width: 900px) {
  footer .footer-list {
    padding: 2rem 0;
    display: block;
    background-color: #2079bd;
    margin: 0 0.5rem;
  }
  footer .footer-list p {
    font-weight: bold;
    margin-bottom: 1rem;
    padding-left: 1rem;
    position: relative;
  }
  footer .footer-list p::before {
    display: block;
    position: absolute;
    content: "▼";
    width: 0.5em;
    height: 0.5em;
    top: 0;
    left: 0;
  }
  footer .footer-list li {
    position: relative;
    padding: 0.1em;
    padding-left: 1em;
  }
  footer .footer-list li::before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    top: 0.7em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0.3em;
    height: 0.3em;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
  }
  footer .footer-list a:hover {
    color: #fff;
  }
}

footer .footer-copyright {
  text-align: center;
  padding: 3rem 0 1rem 0;
  background-color: #2079bd;
}
/*# sourceMappingURL=index.css.map */